input {
    width: 88%;
    height: 63px;
    border-radius: 10px;
    padding-left: 30px;
    margin: 20px;
}

input, input::placeholder {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    outline: none;
}
