.checkbox {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #224957;
}

.remember-me label {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
