.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 250px;
    height: 80px;
    width: 180px;
    border-radius: 25px;
    font-size: 25px;
    background-color: #71C9CE;
    color: white;
    border: none;
}