 .header-button {
    background-color: #71C9CE;
    color: #FFF;
    width: 18%;
    height: 80px;
    border-radius: 25px;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
}

.login-button {
    background-color: #71C9CE;
    color: #FFF;
    width: 100%;
    height: 63px;
    border-radius: 25px;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
}